<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category id="refactor_plugin.category" name="Refactor Plugin Category"/>
      <command
            categoryId="refactor_plugin.category"
            id="refactor_plugin.command"
            name="Fetch Django JSON">
      </command>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <category
            id="refactor_plugin.category"
            name="Refactor Plugin Category"/>
      <command
            id="refactor_plugin.command.readA"
            name="Command Action 01"
            categoryId="refactor_plugin.category"/>
      <command
            id="refactor_plugin.command.extractMethod"
            name="Command Action 02 (EM)"
            categoryId="refactor_plugin.category"/>            
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            id="refactor_plugin.commands.extractMethodRefactoring"
            name="Extract Method Refactoring"/>

      <command
            id="refactor_plugin.commands.checkExtractable"
            name="Check Extractable Clone"/>

      <command
            id="refactor_plugin.commands.cloneGraphRefresh"
            name="Refresh Clone Graph"/>
      <command
            id="refactor_plugin.commands.cloneGraphExpandAll"
            name="Expand All Clone Graph Nodes"/>
      <command
            id="refactor_plugin.commands.cloneGraphCollapseAll"
            name="Collapse All Clone Graph Nodes"/>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="refactor_plugin.handlers.FetchDjangoHandler"
            commandId="refactor_plugin.command">
      </handler>
      <handler
            class="refactor_plugin.handlers.ExtractMethodHandler"
            commandId="refactor_plugin.command.extractMethod">
      </handler>      
      <handler
            class="refactor_plugin.handlers.MainIOHandler"
            commandId="refactor_plugin.command.readA">
      </handler>
      <handler
            class="view.handlers.ClearTextHandler"
            commandId="simplezestproject1.command.cleartext">
      </handler>
      <handler
            class="view.handlers.SimpleZestHandler"
            commandId="simplezestproject1.command.togglelayout">
      </handler>

      <handler
            commandId="refactor_plugin.commands.extractMethodRefactoring"
            class="your.handler.package.ExtractMethodRefactoringHandler"/>
      <handler
            commandId="refactor_plugin.commands.checkExtractable"
            class="your.handler.package.CheckExtractableHandler"/>
      <handler
            commandId="refactor_plugin.commands.cloneGraphRefresh"
            class="view.handlers.CloneGraphRefreshHandler"/>
      <handler
            commandId="refactor_plugin.commands.cloneGraphExpandAll"
            class="view.handlers.CloneGraphExpandAllHandler"/>
      <handler
            commandId="refactor_plugin.commands.cloneGraphCollapseAll"
            class="view.handlers.CloneGraphCollapseAllHandler"/>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu id="refactor_plugin.menu" label="Django API">
            <command
                  commandId="refactor_plugin.command"
                  id="refactor_plugin.menu.command">
            </command>
         </menu>

         <menu id="refactor_plugin.menu" label="Django API">
            <command
                  commandId="refactor_plugin.command.readA"
                  id="refactor_plugin.menu.command.readA"
                  label="Command Action 01"
                  style="push">
            </command>
            <command
                  commandId="refactor_plugin.command.extractMethod"
                  id="refactor_plugin.menu.command.extractMethod"
                  label="Command Action 02 (EM)"
                  style="push">
            </command>            
         </menu>
      </menuContribution>

      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=window">
            <menu
                  id="refactor_plugin.menu.cloneGraph"
                  label="Clone Viz">
            <command
                  commandId="refactor_plugin.commands.extractMethodRefactoring"
                  label="Extract Method Refactoring"
                  style="push"/>
            <command
                  commandId="refactor_plugin.commands.checkExtractable"
                  label="Check Extractable Clone"
                  style="push"/>
            <separator name="cloneviz.sep1" visible="true"/>

            <command
                  commandId="refactor_plugin.commands.cloneGraphRefresh"
                  label="Refresh"
                  style="push"/>
            <separator name="cloneGraph.sep1"/>
            <command
                  commandId="refactor_plugin.commands.cloneGraphExpandAll"
                  label="Expand All"
                  style="push"/>
            <command
                  commandId="refactor_plugin.commands.cloneGraphCollapseAll"
                  label="Collapse All"
                  style="push"/>
            </menu>
      </menuContribution>

      <menuContribution locationURI="popup:simplezestproject1.popupmenu.mypopupmenu?after=additions">
         <command
               commandId="simplezestproject1.command.cleartext"
               label="Clear All Text"
               style="push">
         </command>
      </menuContribution>

      <menuContribution locationURI="toolbar:view.SimpleZestView">
         <command
               commandId="simplezestproject1.command.togglelayout"
               label="Change Layout"
               style="push">
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.startup">
      <startup class="refactor_plugin.listeners.EditorDropStartup"/>
   </extension>

   <extension point="org.eclipse.ui.views">
      <category
            id="simplezestproject1.category"
            name="Zest Graph Views">
      </category>

      <view
            category="simplezestproject1.category"
            class="view.SimpleView"
            id="simplezestproject1.partdescriptor.simpleview"
            name="Simple View"
            restorable="true">
      </view>

      <view
            category="simplezestproject1.category"
            class="view.SimpleZestView"
            id="view.SimpleZestView"
            name="Simple Zest View"
            restorable="true">
      </view>

      <view
            category="simplezestproject1.category"
            class="view.CloneTreeView"
            id="view.CloneTreeView"
            name="Clone Tree"
            restorable="true">
      </view>

      <view
            category="simplezestproject1.category"
            class="view.CloneGraphView"
            id="view.CloneGraphView"
            name="Clone Graph"
            restorable="true">
      </view>

      <view
            category="simplezestproject1.category"
            class="view.DropzoneView"
            id="view.DropzoneView"
            name="Dropzone"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="simplezestproject1.category"
            id="simplezestproject1.command.cleartext"
            name="Clear Text">
      </command>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="simplezestproject1.category"
            id="simplezestproject1.command.togglelayout"
            name="Toggle Layout">
      </command>
   </extension>




</plugin>